ApiReferenceServiceUrl=https://kontent-ai-api-reference-prod.azurewebsites.net/api/buildApiReferenceJson
ApiReferenceServiceFunctionKey=x
ApiReferenceCodenames=delivery_api,management_api_v2,subscription_api,sync_api_v2
ApiReferenceKontentEnvironmentId=00000000-0000-0000-0000-000000000000
ApiReferenceKontentDeliveryApiKey=x
ApiReferenceWebLinkTemplate=https://kontent.ai/learn/api/navigate/by-id/{{id}}
ApiReferenceIsPreview=false
ApiReferenceIsDebug=false
ApiReferenceServiceTimeoutMs=45000
ApiReferenceServiceRetryCount=1
